@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background 
    dark:bg-dark-background 
    text-light-onBackground
    dark:text-dark-onBackground;
  }

  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent
    rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onBackground/15
    dark:bg-dark-onBackground/15;
  }
}

/* 
components
 */
@layer components {
  /* 
  text wrapper
   */
  .text-field-wrapper {
    @apply relative;
  }
  .text-field {
    @apply ring-1
    ring-inset
    ring-light-outline
    dark:ring-dark-outline
    bg-inherit
    text-light-onSurface
    dark:text-dark-onSurface
    caret-light-primary
    dark:caret-dark-primary
    h-14
    px-4
    rounded-extraSmall
    transition-shadow
    duration-short3
    ease-linear
    
    hover:ring-light-onSurface
    hover:dark:ring-dark-onSurface
    
    focus:ring-2
    focus:ring-light-primary
    focus:dark:ring-dark-primary;
  }
  .text-field::placeholder {
    @apply opacity-0
    transition-opacity;
  }
  .text-field:focus::placeholder {
    @apply opacity-100;
  }
  .label-text {
    @apply absolute
    text-labelLarge
    top-[18px]
    left-2
    text-light-onSurfaceVariant
    dark:text-dark-onSurfaceVariant
    bg-light-background
    dark:bg-dark-background
    px-2
    origin-[center_left]
    pointer-events-none
    select-none
    transition-[color,transform]
    duration-short4
    ease-standard;
  }
  .text-field-wrapper:hover .label-text {
    @apply text-light-onSurface
    dark:text-dark-onSurface;
  }

  .text-field-wrapper:focus-within .label-text,
  .text-field-wrapper:has(.text-field:not(:placeholder-shown)) .label-text {
    @apply translate-x-0.5
    -translate-y-7
    scale-[0.85];
  }
  .text-field-wrapper:focus-within .label-text {
    @apply text-light-primary
    dark:text-dark-primary;
  }
  .text-field-wrapper .helper-text {
    @apply text-light-onSurfaceVariant
    dark:text-dark-onSurfaceVariant
    text-bodySmall
    px-4
    pt-1;
  }

  /*Button  */

  .btn {
    @apply h-10
    flex
    justify-center
    items-center
    rounded-full
    text-labelLarge
    px-4
    transition-shadow
    duration-short3
    ease-standard
    
    hover:shadow-elevation1
    focus:shadow-none;
  }
  .btn.filled.primary {
    --state-layer-bg: theme('colors.light.onPrimary');
    @apply bg-light-primary
    dark:bg-dark-primary
    text-light-onPrimary
    dark:text-dark-onPrimary;
  }

  @media (prefers-color-scheme: dark) {
    .btn.filled.primary {
      --state-layer-bg: theme('colors.dark.onPrimary');
    }
  }

  .btn.btn.filled:disabled {
    @apply bg-light-onSurface/[0.12]
    dark:bg-dark-onSurface/[0.12]
    text-light-onSurface/[0.38]
    dark:text-dark-onSurface/[0.38]
    pointer-events-none;
  }

  /* STATE LAYER */
  :has(> .state-layer) {
    @apply relative
    overflow-hidden
    isolate;
  }
  .state-layer {
    @apply absolute
    inset-0
    bg-[--state-layer-bg]
    opacity-0
    transition-opacity
    duration-short3
    ease-standard
    pointer-events-none
    select-none
    -z-10;
  }
  :has(> .state-layer):hover > .state-layer {
    @apply opacity-[0.08];
  }
  :has(> .state-layer):where(:focus, :focus-visible, :focus-within)
    > .state-layer {
    @apply opacity-[0.1];
  }
  .link {
    @apply transition-colors
    duration-short3
    ease-standard
    
    hover:text-light-primary
    hover:dark:text-dark-primary
    hover:underline;
  }

  /* 
  PROGRESS
  */
  .circular-progress {
    @apply border-4
    border-current
    dark:border-current
    border-r-transparent
    dark:border-r-transparent
    w-12
    h-12
    rounded-full
    animate-spin;
  }
  .circular-progress.small {
    @apply border-[3px]
    w-5
    h-5;
  }
  .linear-progress {
    @apply h-1
    bg-light-secondaryContainer
    dark:bg-dark-secondaryContainer
    rounded-full
    mx-1
    overflow-hidden
    origin-top;
  }
  .linear-progress .active-indicator {
    @apply h-[inherit]
    bg-light-primary
    dark:bg-dark-primary
    rounded-full
    origin-right
    -translate-x-full;
  }

  /* 
  Snackbar
  */
  .snackbar {
    @apply fixed
    bottom-4
    left-4
    right-4
    bg-light-inverseSurface
    dark:bg-dark-inverseSurface
    text-light-inverseOnSurface
    dark:text-dark-inverseOnSurface
    text-bodyMedium
    shadow-elevation3
    rounded-extraSmall
    min-h-12
    max-w-[60ch]
    min-w-[36ch]
    px-4
    py-[14px]
    origin-bottom
    z-40

    /* response for small screans */

    sm:left-6
    sm:right-auto
    sm:bottom-6
    sm:w-max;
  }
  .snackbar.error {
    @apply bg-light-errorContainer
    text-light-onErrorContainer;
  }

  /* 
   * Icon button
  */
  .icon-btn {
    --state-layer-bg: theme('colors.light.onSurfaceVariant');
    @apply text-light-onSurfaceVariant
   dark:text-dark-onSurfaceVariant
   grid
   place-items-center
   rounded-full
   h-10
   w-10;
  }

  @media (prefers-color-scheme: dark) {
    .icon-btn {
      --state-layer-bg: theme('colors.dark.onSurfaceVariant');
    }
  }
  .icon-btn:disabled {
    @apply text-light-onSurfaceVariant
    dark:text-dark-onSurfaceVariant
    cursor-not-allowed;
  }
  .icon-btn.small {
    @apply h-7
    w-7
    min-w-7
    min-h-7;
  }
  .icon-btn.large {
    @apply h-12
    w-12
    min-w-12
    min-h-12;
  }
  .icon-btn.small .icon {
    @apply text-[18px];
  }
  material-symbols-rounded {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    @apply w-[1em]
    min-w-[1em]
    h-[1em]
    min-h-[1em]
    overflow-hidden;
  }

  /* *
  * Avatar
   */
  .avatar {
    @apply aspect-square
    bg-light-surfaceContainerHighest
    dark:bg-dark-surfaceContainerHighest
    min-w-[32px]
    max-w-[32px]
    overflow-hidden
    rounded-full;
  }

  /* *
  * menu
   */

  .menu-wrapper {
    @apply relative;
  }
  .menu {
    @apply bg-light-surfaceContainer
    dark:bg-dark-surfaceContainer
    absolute
    top-[calc(100%+4px)]
    right-0
    min-w-[112px]
    max-w-[280px]
    py-2
    rounded-extraSmall
    shadow-elevation2
    z-20
    origin-top-right
    scale-75
    opacity-0
    invisible
    transition-[transform,opacity,visibility]
    duration-short4
    ease-standard;
  }
  .menu.active {
    @apply scale-100
    opacity-100
    visible;
  }
  .menu-item {
    --state-layer-bg: theme('colors.light.onSurface');
    @apply text-light-onSurface
    dark:text-dark-onSurface
    text-labelLarge
    h-12
    w-full
    flex
    items-center
    px-3;
  }
  @media (prefers-color-scheme: dark) {
    .menu-item {
      --state-layer-bg: theme('colors.dark.onSurface');
    }
  }
  /* 
* SIdebar
*/

  .sidebar {
    @apply bg-light-surfaceContainerLow
    dark:bg-dark-surfaceContainerLow
    text-light-onSurface
    dark:text-dark-onSurface
    fixed
    top-0
    left-0
    h-dvh
    w-0
    max-w-[80vw]
    rounded-e-large
    shadow-elevation1
    overflow-hidden
    transition-[width]
    duration-short4
    ease-emphasized
    z-40

  /* Responsive for small screen */

  sm:max-w-[320px]

  /* Responsive for large screen */
  lg:static
    lg:opacity-100
    lg:visible
    lg:w-full
    lg:shadow-none
    lg:rounded-none;
  }
  .sidebar.active {
    @apply w-[80vw]
    duration-medium2
    ease-standardDecelerate

  /* responsive for small screens */
    sm:w-[320px];
  }

  .siderbar-inner {
    @apply h-full
    grid
    grid-rows-[max-content,max-content,1fr,max-content]
    grid-cols-1
    px-3
    opacity-0
    transition-opacity
    duration-medium2
    /* responsive for large screens */
    lg:opacity-100;
  }
  .sidebar.active .siderbar-inner {
    @apply opacity-100
    delay-short2;
  }
  /* 
  *Overlay
   */
  .overlay {
    @apply fixed
    top-0
    left-0
    w-full
    h-dvh
    z-30
    bg-transparent
    invisible
    transition-colors
    /* responsive for large screens */
    lg:hidden;
  }
  .overlay.active {
    @apply bg-black/40
    visible;
  }
  /* 
  Extended fab
  */
  .extended-fab {
    --state-layer-bg: theme('colors.light.onPrimaryContainer');
    @apply bg-light-primaryContainer
    dark:bg-dark-primaryContainer
    text-light-onPrimaryContainer
    dark:text-dark-onPrimaryContainer
    text-labelLarge
    max-w-max
    flex
    items-center
    gap-2
    h-[56px]
    ps-3
    pe-4
    rounded-large
    shadow-elevation1
    transition-shadow
    duration-short3
    ease-standard
    hover:shadow-elevation2 
    focus:shadow-elevation1;
  }
  @media (prefers-color-scheme: dark) {
    .extended-fab {
      --state-layer-bg: theme('colors.dark.onPrimaryContainer');
    }
  }
  .extended-fab.disabled {
    @apply bg-light-onSurface/[0.12]
    dark:bg-dark-onSurface/[0.12]
    text-light-onSurface/[0.38]
    dark:text-dark-onSurface/[0.38]
    shadow-none
    pointer-events-none;
  }
  /* 
  *nav link
  */

  .nav-link {
    --state-layer-bg: theme('colors.light.onSurfaceVariant');
    @apply flex
    items-center
    gap-3
    text-labelLarge
    text-light-onSurfaceVariant
    dark:text-dark-onSurfaceVariant
    h-9
    rounded-full
    ps-4
    pe-10;
  }
  .nav-link.active {
    --state-layer-bg: theme('colors.light.onSecondaryContainer');
    @apply bg-light-secondaryContainer
    dark:bg-dark-secondaryContainer
    text-light-onSecondaryContainer
    dark:text-dark-onSecondaryContainer;
  }
  .nav-link.active {
    --state-layer-bg: theme('colors.dark.onSecondaryContainer');
  }

  @media (prefers-color-scheme: dark) {
    .nav-link {
      --state-layer-bg: theme('colors.dark.onSurfaceVariant');
    }
  }

  /* 
  *UTILITIES
  */

  .prompt-field-container {
    --state-layer-bg: theme('colors.light.onSurfaceVariant');
    @apply bg-light-surfaceContainer
    dark:bg-dark-surfaceContainer
    min-h-16
    rounded-full
    flex
    items-end
    flex-wrap
    p-2
    cursor-text;
  }

  @media (prefers-color-scheme: dark) {
    .prompt-field-container {
      --state-layer-bg: theme('colors.dark.onSurfaceVariant');
    }
  }
  .prompt-field {
    @apply text-light-onSurface 
    dark:text-dark-onSurface 
    text-bodyLarge
    relative
    outline-none
    grow
    mx-4
    py-3
    max-h-[230px]
    overflow-y-auto
    whitespace-pre-wrap
    /* ::after */

    after:content-[attr(data-placeholder)]
    after:text-light-onSurfaceVariant/90
    after:dark:text-dark-onSurfaceVariant/90
    after:absolute
    after:left-0
    after:top-1/2
    after:-translate-y-1/2
    after:pointer-events-none;
  }

  /* 
  *markdown-content
  */
  .markdown-content {
    @apply text-light-onSurface
    dark:text-dark-onSurface
    leading-7
    pt-1;
  }
  .markdown-content > :first-child {
    @apply !mt-0;
  }
  .markdown-content :where(h1, h2, h3, h4, h5, h6) {
    @apply text-titleMedium
    font-semibold
    mt-8
    mb-4;
  }
  .markdown-content :where(p, pre, table) {
    @apply my-4;
  }
  .markdown-content :where(strong, span, a) {
    @apply inline;
  }
  .markdown-content :where(ul, ol) {
    list-style: revert;
    @apply my-1
    ps-[18px];
  }
  .markdown-content code {
    @apply inline-block
    text-bodyMedium
    text-light-onSurfaceVariant
    dark:text-dark-onSurfaceVariant
    bg-light-surfaceContainerHigh
    dark:bg-dark-surfaceContainerHigh
    rounded-md
    py-[1px]
    px-1.5;
  }
  .markdown-content strong code {
    @apply text-light-onSurface
    dark:text-dark-onSurface
    font-semibold;
  }
  .markdown-content pre code {
    @apply block
    py-2
    px-3
    overflow-x-auto;
  }
  .markdown-content table {
    @apply bg-light-surfaceContainer
    dark:bg-dark-surfaceContainer
    block
    max-w-max
    overflow-auto
    rounded-large;
  }
  .markdown-content table th {
    @apply text-titleMedium
    p-4 
    text-left
    whitespace-nowrap;
  }
  .markdown-content table td {
    @apply text-bodyMedium
    py-3 
    px-4
    border-t-[1px]
    border-solid
    border-light-surfaceContainerHigh
    dark:border-dark-surfaceContainerHigh;
  }
  .markdown-content a {
    @apply text-light-primary
    dark:text-dark-primary
    underline
    break-words;
  }

  .markdown-content .code-block {
    @apply bg-light-surfaceContainer
    dark:bg-dark-surfaceContainer
    rounded-t-medium
    rounded-b-extraSmall
    mb-0.5
    overflow-hidden;
  }
  .markdown-content .code-block * {
    @apply !bg-inherit;
  }

  /* 
  *Skeleton
  */
  .skeleton {
    @apply h-4
    w-full
    bg-light-surfaceContainerHighest
    dark:bg-dark-surfaceContainerHighest
    my-3
    rounded-extraSmall;
  }
}

/* 
*UTILITIES
*/
@layer utilities {
  .img-box {
    @apply bg-light-surfaceContainerHighest
    dark:bg-dark-surfaceContainerHighest
    overflow-hidden;
  }
  .img-cover {
    @apply w-full
    h-full
    object-cover;
  }
  .icon-small {
    @apply text-[18px];
  }
}
